<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    #app{
      width: 800px;
      margin: 50px auto;
      background: skyblue;
    }
    table{
      width: 100%;
      background: #100;
    }
    table tr {
      background: #fff;
    }
    form{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>
<body>
  <div id="app">
    <form v-show="isShow">
      <input type="text" placeholder="请输入序号" v-model="person.id">
      <input type="text" placeholder="请输入姓名" v-model="person.name">
      <input type="text" placeholder="请输入分数" v-model="person.score">
      <input type="submit" value="增加" @click.prevent="increament()">
      <input type="submit" value="查询" @click.prevent="query()">
    </form>
    <table>
      <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>分数</th>
        <th>时间</th>
        <th>操作</th>
      </tr>
      <tr v-for="(person, index) in persons">
        <td><input type="text" v-model="person.id" :disabled="isDisable"></td>
        <td><input type="text" v-model="person.name" :disabled="isDisable"></td>
        <td><input type="text" v-model="person.score" :disabled="isDisable"></td>
        <td><input type="text" :value="person.time | dateFormart" disabled></td>
        <td>
          <a href="#" @click.prevent="edit()">编辑</a>
          <a href="#" @click.prevent="del(index)">删除</a>
          <br>
          <a href="#" @click.prevent="toggle">更多操作</a>
        </td>
      </tr>
    </table>
  </div>

  <script src="../js/vue.js"></script>
  <script>

    Vue.filter("dateFormart", function (value, fmStr) {
        // console.log(fmStr);
        let date = new Date(value);
        let year = date.getFullYear();
        let month = date.getMonth() + 1 + "";
        let day = date.getDate() + "";
        let hour = date.getHours() + "";
        let minute = date.getMinutes() + "";
        let second = date.getSeconds() + "";
        if(fmStr && fmStr === "yyyy-MM-dd"){
            return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
        }
        return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")} ${hour.padStart(2, "0")}:${minute.padStart(2, "0")}:${second.padStart(2, "0")}`;
    });

    const app = new Vue({
      el: "#app",
      data: {
        isDisable: true,
        isShow: false,
        persons: [
          {
            id: 1,
            name: 'zjz',
            score: "90",
            time: Date.now()
          },
          {
            id: 2,
            name: 'zjz111',
            score: "80",
            time: Date.now()
          },
          {
            id: 3,
            name: 'zjz222',
            score: "70",
            time: Date.now()
          },
          {
            id: 4,
            name: 'zjz333',
            score: "60",
            time: Date.now()
          }
        ],
        person: {
          id: "",
          name: "",
          score: ""
        }
      },
      methods: {
        edit() {
          this.isDisable = !this.isDisable
        },
        toggle() {
          this.isShow = !this.isShow
        },
        del(index) {
          this.persons.splice(index,1)
        },
        increament() {
          this.person.time = Date.now()
          this.persons.push(this.person)
          this.person = {
            id: "",
            name: "",
            score: ""
          }
        },
        query() {
          this.persons = this.persons.filter((item) => {
            return this.person.score === item.score
          })
        }
      }
    })
  </script>
</body>
</html>